* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #000a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #cronometro {
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    display: inline-block;
  }
  
  .botoes button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botoes button:hover {
    background-color: #ddd;
  }
  
  #startStop {
    background-color: #4CAF50;
    color: white;
  }
  
  #reset {
    background-color: #f44336;
    color: white;
  }
  